{% extends 'layout.twig' %}

{% block main %}
    <div class="m-3">
        <h1>Tool For Character Generation and Other Stuff</h1>
        <p>
            This is an application to allow GM's ,or players, to generate characters randomly and quickly.<br />
            This uses the 5th Edition D&D ruleset. Mostly from the SRD with some of the information from the
            expansion books.
        </p>
    </div>
{% endblock %}